body {
    position: absolute;
    top: 0; bottom: 0;
    left: 0; right: 0;

    background: #fff;
}

/* Hide the main content until Vue has loaded */
[v-cloak] {
    display: none;
}
.loader {
    display: none;
}

[v-cloak].loader {
    position: absolute;
    top: 0; bottom: 0;
    left: 0; right: 0;

    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center;

    align-items: center;
}

.loader
.loader-content {
    position: relative;
    width: 100%;
    text-align: center;
}

.loader
.signal {
    display: inline-block;
    width: 150px;
    height: 150px;

    box-sizing: border-box;
    border: 5px solid #000;
    /*background: #FFF;*/
    border-radius: 50%;

    opacity: 0;

    animation: pulsate 1s ease-out;
    animation-iteration-count: infinite;
}

@keyframes pulsate {
    0% {
        transform: scale(.1);
        opacity: 0.0;
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: scale(1.2);
        opacity: 0;
    }
}
